@import "./default-style.css";
@import "./footer.css";
@import "./side-menu.css";

body{
    background-color: #f7f7f7;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    position: relative;
}
.container-fluid::after{
     content: "";
     position: absolute;
     background-color: black;
     opacity: .6;
     width: 100%;
     height: 100%;
     z-index: 100;
     top: 0;
     visibility: hidden;
 }
.container-fluid.active::after{
    visibility: visible;
}
.list-filters-product-text{
    font-size: 1.5rem;
    padding: .7rem 1.5rem;
    border-radius: 2rem;
    transition: all .2s;
}
.list-filters-product-text.active{
    background: linear-gradient(30deg,#00bee6 0%,#0078c8 100%);
    color: #fff;
}
.list-filters-product-text:hover{
    background: linear-gradient(30deg,#00bee6 0%,#0078c8 100%);
    color: #fff;
}

/* End of list-filters */

/* products-container */
.card-product{
    width: 30rem;
    height: 55rem;
    background-color: #fff;
    border-radius: .3rem;
    margin-bottom: 3rem;
}
.card-product__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.card-product-contaent__img{
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card-img{
    width: 100%;
}
.card-product__title{
    margin: 2rem 0 5rem 0;
}
.card-product-title__link{
    font-size: 1.5rem;
}
.card-product-model{
    margin-bottom: 1rem;
}
.card-product__price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 4rem 2rem;
    color: #999;
}
.card-product__send{
    border-top: 1px solid #cccccc;
}
.card-product__send-icon{
    display: flex;
    align-items: center;
    color: #5c5c5c;
    font-size: 1.2rem;
    padding: 1rem 1.2rem 0 1.2rem;
}
.card-product__send-icon svg{
    margin-right: .4rem;
}
.card-product__send-icon span{
    margin-right: .4rem;
}
.card-product__footer{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-product__btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-product__btn-link{
    background: linear-gradient(45deg, #0078c8 0%, #0032a0 100%);
    color: #fff;
    width: 90%;
    display: block;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: .3rem;
}
.card-product-buy{
    margin-top: 3rem;
    font-size: 1.2rem;
}
.footer{
    margin-top: 45em;
}
.banner-icon-img{
    width: 7rem;
    height: 7rem;
}

/* End of products-container */

/* actived */
#box-search-bar.active{
    top: 8rem;
 }
 
#cart-container-wrap.active{
    right: 0;
}

#header-container-nav.active{
    right: 0;
}