
@media (max-width:980px) {
    html{
        font-size: 60%;
    }

    .banner-icons-wrapper{
        margin-right: 1rem;
        display: none;
    }
    .banner-icon{
        margin: 0 2.5rem;
    }
    .card{
        margin-top: 5rem;
        height: 150vh;
    }
    .container-card{
        flex-direction: column;
     }
    .container-card-ltr{
        flex-direction: column-reverse;
    }
    .card-rtl .card-btn{
        margin: 4rem 0 3rem 0;
    }
    .card-video{
        flex-direction: column;
    }
    .card-video-text{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        padding: 2rem 6rem 0 0;
     }
     .card-video-img{
        width: 100%;
        height: 100%;
     }
     .card-video-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .6;
     }
    .section-readable{
       margin-top: 3rem;
    }
    .section-readable-body-container{
        display: grid;
        grid-template-columns: repeat(2 , 35rem);
        column-gap: 4rem;
        row-gap: 2rem;
     }
     .section-readable-blog{
        width: 38rem;
        height: 27rem;
        border-radius: 1rem;
      }
      .blog-post-info{
        left: 0rem;
        bottom: 1rem;
        width: 100%;
      }
      .footer-icons-wrapper{
        flex-wrap: wrap;
      }
      .footer .color-bar{
        width: 100%;
      }
      .product-model a{
        width: 100%;
        font-size: 1rem;
      }
      .footer-icon{
        padding: 0 5rem;
    }

    /* products */
    .cards-products__container{
      width: 90%;
      grid-template-columns: repeat(3 , 27rem);
      column-gap: 2rem;
  }
  .card-product{
      width: 27rem;
      margin-bottom: 3rem;
  }
  .card-product-title__link{
    font-size: 1.3rem;
}
/* End of products */

/* product-Detalis */
.banner-icons-wrapper{
  width: 95%;
  padding: 1rem 4rem;
  bottom: 13rem;
}
.banner-icon{
  width: 20rem;
}
.banner-icon-4{
  display: none;
}
.gallery-container-imgs__top{
  grid-template-columns: repeat(1 , 1fr) ;  
}
.gallery-container-imgs__bottom{
  grid-template-columns: repeat(1 , 1fr) ;
}
.gallery-container-imgs__top-rigth{
  display: none;
}
.gallery-container-imgs__top-center-left__top{
  display: grid;
  grid-template-columns: repeat(2 , 1fr) ;
  column-gap: 2rem;
}
.gallery-container-imgs__top-center-left__center{
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
}
.section-review-product-icon{
  width: 24rem;
}
.section-inbox-content{
  width: 100%;
  height: 130vh;
  margin-top: 5rem;
}
#intro-introduction-inbox{
  padding: 1.5rem ;
  width: 15rem;
  font-size: 2rem;

}
#intro-inbox-text{
  font-size: 1.5rem;
  padding: 1.4rem;
}

  /* End of product-Detalis */
    
 }
 @media (max-width: 850px) {
    /* products */
  .cards-products__container{
      width: 85%;
      grid-template-columns: repeat(2 , 35rem);
      column-gap: 2rem;
  }
  .card-product{
      width: 35rem;
      margin-bottom: 3rem;
  }
  .card-product-title__link{
    font-size: 1.5rem;
 }
 .footer{
  margin-top: 80em;
}
.footer-social-logo{
  align-items: center;
 }
.section-inbox-content {
  margin-bottom: -125rem;
}
.section-readable{
  margin-bottom: -125rem;
}

    /* End of products */
 }

@media (max-width: 775px) {

    html{
        font-size: 50%;
    }
    .logo-img{
      margin-right: 2rem;
    }
    .header-btns div{
        margin-left: 3rem;
    }
    .fa-magnifying-glass{
      font-size: 3rem;
      margin-top: 0rem;
    }
    .header-nav-btn{
      left: 1.5rem;
      top: -2rem;
    }
    .opening-nav {
      font-size: 4rem;
    }
    .close-nav{
      font-size: 4rem;
    }
    
     .footer-social-icon{
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 1rem 0;
       width: 170px;
     }
   /* product-Detalis */

.img-gallery:hover .tooltip-inner-2{
    transform: translate(-33rem);
}
.img-gallery:hover .tooltip-inner-3{
    transform: translate(-12rem);
}
.img-gallery:hover .tooltip-inner-4{
    transform: translate(-59rem);
}
.img-gallery:hover .tooltip-inner-5{
    transform: translate(-59rem);
}
    .section-feature-content{
      flex-direction: column;
    }
    .section-feature-rigth{
      width: 95%;
    }
    .section-review-product-icon {
      width: 20rem;
    }
    .section-darkness-rigth {
      display: none;
    }
    .section-darkness-left {
      width: 80%;
      font-size: 1.8rem;
    }
  
    
      /*End of product-Detalis */
    
 }
 
 @media (max-width: 690px) {
  .list-filters__container-products{
    flex-wrap: wrap;
}
.section-inbox-content{
  margin-bottom: -110rem;
}
.img-gallery:hover .tooltip-inner-2{
  transform: translate(-33rem);
}
.img-gallery:hover .tooltip-inner-3{
  transform: translate(-12rem);
}
.img-gallery:hover .tooltip-inner-4{
  transform: translate(-59rem);
}
.img-gallery:hover .tooltip-inner-5{
  transform: translate(-59rem);
}
.tooltip-inner-5{
  top: 40%;
  transform: translate(-40rem);
  padding: 1.5rem 1.5rem 1.5rem 3rem;
}
.section-darkness{
  height: 150vh;
}
.section-inbox-content{
  width: 100%;
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.inbox-side {
  width: 50%;
  align-self: self-start;
  margin-top: 3rem;
}

 }

 @media (max-width: 650px) {

  .color-bar {
    box-shadow: -72vw 0 0 4px #78be1e, -65vw 0 0 4px #019e43, -58vw 0 0 4px #0182c6, 0vw 0 0 4px #1d4f9b;
  }
  .logo-img{
    margin-right: 2rem;
  }
  .header-btns div{
      margin-left: 3rem;
  }
  .fa-magnifying-glass{
    font-size: 3rem;
    margin-top: 0rem;
  }
  .header-nav-btn{
    left: 2rem;
    top: -2rem;
  }
  .opening-nav {
    font-size: 4rem;
  }
  .close-nav{
    font-size: 4rem;
  }
  .intro-content h2{
      top: 29rem;
      padding: 2rem 2.5rem;
      font-size: 2rem;
  }
  .banner-icons-wrapper{
    width: 98%;
    text-align: center;
  }
  .banner-icon{
    margin: 0 2.5rem;
  }
 .banner-icon-img{
    width: 4rem;
    height: 4rem;
  }
  .section-readable-body-container{
    grid-template-columns: repeat(1 , 48rem);
    padding-right: 8rem;
 }
  .section-readable{
    margin-top: 30rem;
 }
 .section-readable{
  margin-bottom: -80rem;
}

 .footer{
  margin-top: 0rem;
 }
     /* products */
  .cards-products__container{
      width: 80%;
      grid-template-columns: repeat(2 , 30rem);
      column-gap: 3rem;
  }
  .card-product{
      width: 30rem;
      margin-bottom: 3rem;
  }
  .card-product-title__link{
     font-size: 1.5rem;
 }
  .footer{
     margin-top: 70em;
}

    /* End of products */
    .tooltip-inner-5{
      top: 40%;
      transform: translate(-30rem);
      padding: 1.5rem 1.5rem 1.5rem 3rem;
    }
    .banner-icons-wrapper{
      width: 90%;
      height: 25rem;
      padding: 1rem 3rem;
      bottom: 0rem;
      flex-direction: column;
    }
    .banner-icon{
      padding-top: 2rem;
  }


 }

 @media (max-width: 600px) {

    /* products */
    .cards-products__container{
        width: 75%;
        grid-template-columns: repeat(2 , 25rem);
        column-gap: 3rem;
    }
    .card-product{
        width: 25rem;
        margin-bottom: 3rem;
    }
    .card-product-title__link{
       font-size: 1.5rem;
   }
    .footer{
       margin-top: 70em;
  }
      /* End of products */

 }
 


@media (max-width: 500px) {
  
  html{
    font-size: 45%;
}

/* products */

.cards-products__container{
  width: 65%;
  grid-template-columns: repeat(1 , 40rem);
  column-gap: 3rem;
  row-gap: 3rem;
}
.card-product{
  width: 40rem;
  margin-bottom: 3rem;
}
.card-product-title__link{
 font-size: 1.5rem;
}
.footer{
 margin-top: 185em;
}
/* End of products */
.section-inbox-content{
  margin-bottom: -290rem;
}
.section-readable{
  margin-bottom: -280rem;
}

}

@media (max-width: 430px) {
  
  html{
    font-size: 40%;
}
.banner-container{
   height:71rem;
}
.banner-icons-wrapper{
  width: 98%;
  flex-wrap: wrap;
  text-align: center;
}
.banner-icon{
  margin: 1rem 3.5rem;
}
.banner-icon-img{
  width: 2rem;
  height: 2rem;
}
.container-card-ltr{
  width: 330px;
}
.card-right-text-rtl{
  padding: 2rem 3rem 2rem 0;
}
.card-left-imgs-rtl{
  padding-right: 3rem;
}
.card-right-imgs-ltr{
  padding-right: 2rem;
}
.card-left-text-ltr{
  padding: 2rem 2rem 2rem 0;
}
.section-readable-body-container{
  grid-template-columns: repeat(1 , 33rem);
  padding-right: 0rem;
  padding-left: 4rem;
}
.container-card{
  padding: .5rem;
}
.section-readable{
  margin-top: 10rem;
}
.footer{
  margin-top: 10rem;
 }
 .card-video-text{
  padding: 7rem 6rem 0 0;
}

.intro-content a{
  top: 45rem;
}
.intro-content h2{
  top: 39rem;
  right: -40rem;
  padding: 2rem 3rem;
  font-size: 2rem;
}
.list-filters__container-products{
  visibility: hidden;
  display: none;
}
.footer{
  margin-top: 280rem;
}
.section-inbox-content{
  margin-bottom: -280rem;
}
}

@media (max-width: 350px) {
  
  /* products */

.cards-products__container{
  width: 65%;
  grid-template-columns: repeat(1 , 32rem);
  column-gap: 3rem;
  row-gap: 3rem;
}
.card-product{
  width: 32rem;
  margin-bottom: 3rem;
}
.card-product-title__link{
 font-size: 1.5rem;
}
.list-filters__container-products{
  visibility: hidden;
  display: none;
}
/* End of products */

}
 
