/* default Styles */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-weight: 1.6;
    font-family: var(--primery-font);
    direction: rtl;
    position: relative;
}



/* End of default Styles */