@tailwind base;
@tailwind components;
@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSans/IRANSans.ttf');
}
@tailwind utilities;


html{
    @apply font-body
}

a{
    @apply text-primery-color
}
*{
    @apply border-none; 
    outline: none;
}