@tailwind base;
@tailwind components;
@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSans/IRANSans.ttf');
}
@tailwind utilities;


@layer components {
    .btn-menu {
        @apply text-5xl text-[#0182c6] cursor-pointer
    }
    .color-bar{
        @apply shadow-bar absolute h-px top-0 left-0 right-0
    }
    .banner-icon{
        @apply my-0 mx-16 flex flex-col items-center justify-center
    }
    .banner-icon-title {
        @apply text-xl text-primery-color text-center pt-4
    }
}

html{
    @apply font-body
}

a{
    @apply text-primery-color
}
*{
    @apply border-none; 
    outline: none;
}